<phpunit>
  
         <logging>
            <junit outputFile="junit.xml"/>
          </logging>
          <testsuites>
            <testsuite name="Poney Test suite">
                <file>tests/PoneysTest.php</file>
            </testsuite>
            <testsuite name="Poney 2">
                <file>tests/PoneyTest2.php</file>
            </testsuite>
          </testsuites>
          <php>
            <includePath>.</includePath>
            <ini name="champs" value="15"/>
            <ini name="poney" value="8"/>
         </php>
  <!-- ... -->
</phpunit>